/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Poppins:wght@300;400;500;600&display=swap');

:root {
    --header-height: 3.75rem;

    --header-color: #fff8f0;
    --header-color-light: #fffafa;

    --orange-color: #f11b24;
    --orange-color-light: #f4525a;
    --orange-color-lighten: #f77a80;
    --orange-color-shadow: #faa7ab;

    --white-color: #fffafa;
    --body-color: hsl(220, 100%, 97%);

    --body-font: "Montserrat", sans-serif;
    --normal-font-size: .938rem;

    --font-regular: 400;
    --font-semi-bold: 600;
    --font-bold: 800;

    --z-tooltip: 10;
    --z-fixed: 100;

    --image-width: 500px;
    --calculate: 5/4;
}

@media screen and (min-width: 1024px) {
    :root {
        --normal-font-size: 1.125rem;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--white-color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1120px;
    margin-inline: 1.5rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--header-color);
    box-shadow: 0 2px 16px var(--orange-color-shadow);
    z-index: var(--z-fixed);
}

.nav {
    height: var(--header-height);
}

.nav__logo,
.nav__burger,
.nav__close {
    color: var(--orange-color-light);
}

.nav__data {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    display: inline-flex;
    align-items: center;
    height: 60px;
    width: 60px;
    font-size: 1.25rem;
    column-gap: .75rem;
    font-weight: var(--font-bold);
}
.nav__logo img {
    font-weight: intial;
    font-size: 1.5rem;
}

.nav__toggle {
    position: relative;
    width: 32px;
    height: 32px;
}

.nav__burger,
.nav__close {
    position: absolute;
    width: max-content;
    height: max-content;
    inset: 0;
    margin: auto;
    font-size: 1.25rem;
    cursor: pointer;
    transition: opacity .1s, transform .4s;
}

.nav__close {
    opacity: 0;
}

@media screen and (max-width: 1118px) {
    .nav__menu {
        position: absolute;
        left: 0;
        top: 2.5rem;
        width: 100%;
        height: calc(100vh - 3.5rem);
        overflow: auto;
        pointer-events: none;
        opacity: 0;
        transition: top .4s, opacity .3s;
    }
    .nav__menu::-webkit-scrollbar {
        width: 0;
    }
    .nav__list {
        background-color: var(--header-color);
        padding-top: .5rem;
        box-shadow: 0 2px 16px var(--orange-color-shadow);
    }
}

.nav__link {
    color: var(--orange-color-light);
    background-color: var(--header-color);
    font-weight: var(--font-semi-bold);
    display: flex;
    padding: 1.25rem 1.5rem;
    justify-content: space-between;
    align-items: center;
    transition: background-color .3s;
}

.nav__link:hover {
    background-color: var(--header-color-light);
}

.show-menu {
    opacity: 1;
    top: 3.5rem;
    pointer-events: initial;
}

.show-icon .nav__burger {
    opacity: 0;
    transform: rotate(90deg);
}

.show-icon .nav__close {
    opacity: 1;
    transform: rotate(90deg);
}

.dropdown__item {
    cursor: pointer;
}

.dropdown__arrow {
    font-size: 1.25rem;
    font-weight: initial;
    transition: transform .4s;
}

.dropdown__link,
.dropdown__sublink {
    padding: 1.25rem 1.25rem 1.25rem 2.5rem;
    color: var(--orange-color-light);
    background-color: var(--header-color);
    display: flex;
    align-items: center;
    column-gap: .5rem;
    font-weight: var(--font-semi-bold);
    transition: background-color .3s;
}

.dropdown__link i,
.dropdown__sublink i {
    font-size: 1.25rem;
    font-weight: initial;
}

.dropdown__link:hover,
.dropdown__sublink:hover {
    background-color: var(--header-color-light);
}

.dropdown__menu,
.dropdown__submenu {
    max-height: 0;
    overflow: hidden;
    transition: max-height .4s ease-out;
}

.dropdown__item:hover .dropdown__menu,
.dropdown__subitem:hover > .dropdown__submenu {
    max-height: 1000px;
    transition: max-height .4s ease-in;
}

.dropdown__item:hover .dropdown__arrow{
    transform: rotate(180deg);
}

.dropdown__add {
    margin-left: auto;
}

.dropdown__sublink {
    background-color: var(--header-color-light);
}

.dropdown__sublink:hover {
    background-color: var(--white-color);
}

@media screen and (max-width: 340px) {
    .container {
        margin-inline: 1rem;
    }

    .nav__link {
        padding-inline: 1rem;
    }
}

@media screen and (min-width: 1118px) {
    .container {
        margin-inline: auto;
    }

    .nav {
        height: var(--header-height);
        display: flex;
        justify-content: space-between;
    }

    .nav__toggle {
        display: none;
    }

    .nav__list {
        height: 100%;
        display: flex;
        column-gap: 3rem;
    }

    .nav__link {
        height: 100%;
        padding: 0;
        justify-content: initial;
        column-gap: .25rem;
    }

    .nav__link:hover {
        background-color: transparent;
    }

    .dropdown__item,
    .dropdown__subitem {
        position: relative;
    }

    .dropdown__menu,
    .dropdown__submenu {
        max-height: initial;
        overflow: initial;
        position: absolute;
        left: 0;
        top: 4.5rem;
        opacity: 0;
        pointer-events: none;
        transition: opacity .75s, top .3s;
    }

    .dropdown__link,
    .dropdown__sublink {
        padding-inline: 1rem 3.5rem;
    }

    .dropdown__subitem .dropdown__link {
        padding-inline: 1rem;
    }

    .dropdown__submenu {
        position: absolute;
        left: 100%;
        top: .5rem;
    }

    .dropdown__item:hover .dropdown__menu {
        opacity: 1;
        top: 3.5rem;
        pointer-events: initial;
        transition: opacity .5s, top .3s;
    }

    .dropdown__subitem:hover > .dropdown__submenu {
        opacity: 1;
        top: 0;
        pointer-events: initial;
        transition: opacity .5s, top .3s;
    }
}

.slider {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.wrapper .item {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.wrapper .item::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    filter: blur(5px);
    background-image: url("data/pictures/maxresdefault.jpg");
    background-size: cover;
    background-position: center;
}

.wrapper .item:nth-child(2):before {
    background-image: url("data/pictures/Fire-Emblem-Screenshot-061.png");
}
.wrapper .item:nth-child(3):before {
    background-image: url("data/pictures/18-Image10.png");
}
.wrapper .item:nth-child(4):before {
    background-image: url("data/pictures/1_AaQY-rwl43p9eVfV8TMtjQ.png");
}

.wrapper .item .content {
    max-width: 35%;
}

.wrapper .item .content {
    color: var(--white-color);
    z-index: var(--z-tooltip);
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px 10px;
    position: relative;
}

.wrapper .item .subtitle {
    font-size: 1.5rem;
    font-weight: var(--font-semi-bold);
}

.wrapper .item .title {
    font-size: 2rem;
    font-weight: var(--font-bold);
    margin-top: 5px;
    text-transform: uppercase;
}

.wrapper .item .description {
    margin-top: 25px;
    line-height: 25px;
}

.item .content .button {
    color: var(--white-color);
    width: 250px;
    padding: 13px 0;
    display: block;
    margin-top: 45px;
    font-size: 0.8rem;
    font-weight: var(--font-semi-bold);
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid var(--white-color);
    transition: 0.5s ease;
}

.item .content .button:hover {
    background-color: var(--white-color);
    color: var(--orange-color-light);
}

.slider .controls {
    position: absolute;
    bottom: 45px;
    z-index: var(--z-tooltip);
    width: 100%;
    overflow-x: auto;
    scrollbar-width: none;
}

.controls .pagination {
    display: flex;
    margin: 0 auto;
    padding: 0 20px 10px;
    max-width: 1400px;
    justify-content: space-between;
    list-style: none;
}

.pagination .slider-tab {
    color: var(--white-color);
    text-align: center;
    cursor: pointer;
    font-size: 1rem;
    padding: 20px 30px;
}

.pagination .slider-indicator {
    position: absolute;
    bottom: 10px;
    left: 20px;
    border-bottom: 2px solid var(--white-color);
    transition: 0.4s ease-in-out;
}

.slider-navigation button{
    position: absolute;
    top: 50%;
    height: 40px;
    width: 40px;
    z-index: 20;
    color: var(--white-color);
    background: transparent;
    cursor: pointer;
    border: none;
    transform: translateY(-50%);
    transition: 0.4s ease-in-out;
}

.slider-navigation button.swiper-button-disabled {
    display: none;
}

.slider-navigation button:hover {
    background-color: var(--orange-color-light);
    color: var(--white-color);
}

.slider-navigation button#slide-prev {
    left: 20px;
}

.slider-navigation button#slide-next {
    right: 20px;
}

@media (max-width: 1536px) {
    .wrapper .item .content,
    .controls .pagination {
        width: 85%;
    }
}

@media (max-width: 1024px) {
    .wrapper .item .content,
    .controls .pagination {
        width: 100%;
    }

    .wrapper .item .content > * {
        max-width: 66%;
    }

    .slider-navigation button {
        display: none;
    }
}

@media (max-width: 768px) {
    .wrapper .item .content > * {
        max-width: 100%;
    }
}