/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Poppins:wght@300;400;500;600&display=swap');

:root {
    --header-height: 3.75rem;

    --header-color: #fff8f0;
    --header-color-light: #fffafa;

    --orange-color: #f11b24;
    --orange-color-light: #f4525a;
    --orange-color-lighten: #f77a80;
    --orange-color-shadow: #faa7ab;

    --white-color: #fffafa;
    --body-color: hsl(220, 100%, 97%);

    --body-font: "Montserrat", sans-serif;
    --normal-font-size: .938rem;

    --font-regular: 400;
    --font-semi-bold: 600;
    --font-bold: 800;

    --z-tooltip: 10;
    --z-fixed: 100;

    --image-width: 500px;
    --calculate: 5/4;
}

.container {
    display: grid;
    grid-template: columns 14rem auto 14rem;
    
}

