@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Poppins:wght@300;400;500;600&display=swap');

:root {
    --header-height: 2.25rem;

    --header-color: #fff8f0;
    --header-color-light: #fffafa;

    --orange-color: #f11b24;
    --orange-color-light: #f4525a;
    --orange-color-lighten: #f77a80;
    --orange-color-shadow: #faa7ab;

    --white-color: #fffafa;
    --body-color: hsl(220, 100%, 97%);

    --body-font: "Montserrat", sans-serif;
    --normal-font-size: 14px;

    --font-regular: 400;
    --font-semi-bold: 600;
    --font-bold: 800;

    --z-tooltip: 10;
    --z-fixed: 100;
}

@media screen and (min-width: 1024px) {
    :root {
        --normal-font-size: 1.125rem;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background: var(--header-color-light);
    display: grid;
    place-content: center;
    font-family: var(--body-font);
}

.container {
    position: relative;
    width: 850px;
    height: 700px;
    display: flex;
    background-color: #fff;
    box-shadow: -10px -10px 25px var(--header-color-light), 10px 10px 35px var(--orange-color-lighten);
    border-radius: 15px;
    overflow: hidden;
}

.form-container {
    position: absolute;
    width:  60%;
    height: 100%;
    padding: 0px 40px;
    transition: all 0.6s ease-in-out;
}

.sign-up-container {
    opacity: 0;
    z-index: 1;
}
.sign-in-container {
    z-index: var(--z-tooltip);
}

form {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 50px;
}

h1 {
    font-size: var(--header-height);
    color: var(--orange-color);
}

.social-container {
    margin: 20px 0px;
}

.social-container a {
    border: 1px solid #DDD;
    color: var(--orange-color-light);
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0px 5px;
    height: 40px;
    width: 40px;
    text-decoration: none;
}
.social1:hover,
.social2:hover  {
    border: 1px solid var(--orange-color-light);
    background: var(--orange-color-light);
    color: #fff;
    transition: 0.5s;
}

span {
    font-size: 16px;
}

.infield {
    position: relative;
    width: 100%;
    margin: 8px 0px;
}

input {
    width: 100%;
    padding: 16px;
    background-color: #f3f3f3;
    font-family: var(--body-font);
    border: none;
    outline: none;
}

label {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    width: 0%;
    height: 2px;
    background: var(--orange-color-light);
    transition: 0.5s;
}

input:focus ~ label {
    width: 100%;
}

a {
    color: #333;
    font-size: 16px;
    text-decoration: none;
    margin: 15px 0px;
    transition: 0.5s;
}
a:hover {
    color: var(--orange-color-light);
}

.mobileSwapBtn {
    position: relative;
    border: none;
    background: transparent;
    color: var(--orange-color-light);
    font-size: 14px;
    font-weight: bold;
}

.registerBtn, .loginBtn, button {
    border-radius: 20px;
    border: 1px transparent;
    background: var(--orange-color);
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.3s ease-in-out;
}

.registerBtn, .loginBtn {
    margin-top: 10px;

}
.registerBtn:hover, .loginBtn:hover {
    background: var(--orange-color-light);
    cursor: pointer;
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 60%;
    width: 40%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: var(--z-tooltip);
}

#overlaySIBtn, #overlaySUBtn {
    width: 200px;
    top: 50%;
    left: 100px;
    border: 1px solid #FFF;
    background: var(--orange-color);
    border-radius: 20px;
    color: var(--white-color);
    font-size: 16px;
    font-weight: bold;
    transition: 0.3s ease-in-out;
    z-index: 2;
}

#overlaySIBtn:hover, #overlaySUBtn:hover {
    background: var(--orange-color-light);
    cursor: pointer;
}

.overlay {
    position: relative;
    background: var(--header-color);
    color: #FFF;
    left: -150%;
    height: 100%;
    width: 250%;
    transition: transform 0.6s ease-in-out;
}

.overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 40px;
    text-align: center;
    height: 100%;
    width: 40%;
    transition: 0.6s ease-in-out;
    z-index: 1;
    overflow: hidden;
}

.overlay-left {
    left: 0;
    transform: translateX(0%);
}
.overlay-right {
    right: 0;
    transform: translateX(0);
}

.overlay-panel h1 {
    color: var(--orange-color-light);
    z-index: 1;
}
p {
    font-size: 14px;
    font-weight: var(--font-regular);
    line-height: 20px;
    letter-spacing: 0.5px;
    color: var(--orange-color-light);
    margin: 25px 0px 35px;
    z-index: 1;
}

.right-panel-active .overlay-container {
    transform: translateX(-150%);
}
.right-panel-active .overlay {
    transform: translateX(50%);
}
.right-panel-active .overlay-left {
    transform: translateX(25%);
}

.right-panel-active .overlay-right {
    transform: translateX(-25%);
}

.right-panel-active .sign-in-container {
    transform: translateX(20%);
    opacity: 0;
}
.right-panel-active .sign-up-container {
    transform: translateX(66.7%);
    opacity: 1;
    z-index: 15;
    animation: show 0.6s; 
}
@keyframes show {
    0%, 50% {
        opacity: 0;
        z-index: 1;
    }
    50.1%, 100% {
        opacity: 1;
        z-index: var(--z-tooltip);
    }
}

@media screen and (max-width: 1000px){
    .container {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 0px;
        box-shadow: none;
        font-size: 12px;
    }
}

@media screen and (max-width: 425px) {
    .container {
        position: absolute;
        width: 100%;
        height: 100%;
        align-items: top;
        
    }
    .overlay-container {
        opacity: 0;
    }
    .sign-in-container {
        width: 100%;
    }
}